
<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <h1>Voici la reponse à la question grande question de l'univer! </h1>
    <% if logged_in? %>
       <h4><strong>Reponse est dans chacun de nous!</strong></h4>
    <% else %>
      <h4><strong><%= link_to "connecte toi pour savoir!", login_path %></strong></h4>
    <% end %>
    <p><%= link_to "Back to home?", root_path %></p>
  </div>
</div>
